<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/ogefrem_logo2.png" alt="OGEFREM" onerror="this.src='https://placehold.co/40x40/003399/white?text=OG'">
            <span>OGEFREM</span>
        </a>
        <!-- ===== BOUTON HAMBURGER CORRIGÉ ===== -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="actualites.html">Actualités</a></li>
                <li class="nav-item"><a class="nav-link" href="presentation.html">Présentation</a></li>
                <li class="nav-item"><a class="nav-link" href="mandataires.html">Mandataires & Transitaires</a></li>
                <li class="nav-item"><a class="nav-link" href="reglementations.html">Règlementations</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="services/mandataires-liste.html"> Liste des mandataires</a></li>
                        <li><a class="dropdown-item" href="services/suivi-cargaisons.html"> Suivi des cargaisons</a></li>
                        <li><a class="dropdown-item" href="services/operateurs-transport.html"> Opérateurs de transport</a></li>
                        <li><a class="dropdown-item" href="services/produits-exportables.html"> Produits exportables</a></li>
                        <li><a class="dropdown-item" href="services/mercuriales.html"> Mercuriales</a></li>
                        <li><a class="dropdown-item" href="services/demandes-transport.html"> Demandes de transport</a></li>
                        <li><a class="dropdown-item" href="services/offres-transport.html"> Offres de transport</a></li>
                        <li><a class="dropdown-item" href="services/paiement-abonnement.html"> Paiement abonnement</a></li>
                        <li><a class="dropdown-item" href="services/horaires.html"> Horaires navires/avions</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="services.html"> Tous nos services</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="messagerie.html">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>